@charset "utf-8";

/* input - bar */
.input-base{width:100%;border-radius:4px;font-size:14px;line-height:21px;background-color: #fff;border:0;}
.input-base.tp1{padding:8.5px 26px 8.5px 16px;background-color: rgba(79, 82, 107, 0.3);
color:#fff;}
.input-base.tp1:focus{background-color: rgba(41, 98, 255, 0.3);}
.input-base.tp2{border:0;padding:8.5px 26px 8.5px 16px;color:#1d1e22;}
.input-base.tp2:focus{border:0;padding:8.5px 26px 8.5px 16px;}
.input-base:disabled{color:rgba(255, 255, 255, 0.3);}

/* form */
.form-list{display:flex;gap:0 16px;}
.form-list > li{display:flex;align-items:center;gap:0 8px;flex-grow:1;}
.form-list > li.btn{width:106px;flex-grow:0;}
.form-list > li.btn .btn-base{width:100%;}
.form-list > li label{font-size:14px;color:#edf0f5;line-height:1.5;}
.form-list > li .input-wrap{flex-grow:1;}

.valid{font-size:14px;font-weight:600;line-height:1.5;color:#fe0000;margin-top:16px;}
.valid-wrap .valid{margin-top:0;}

/* datepicker */
.tui-datepicker{border-radius:4px;overflow:hidden;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);border: 0;background-color:transparent;}
.tui-datepicker-type-date, .tui-calendar{width:238px;}
.tui-datepicker .tui-calendar{padding-bottom:8px;background-color: rgba(59, 63, 92, 0.95);}
.tui-datepicker-body .tui-timepicker, .tui-datepicker-footer .tui-timepicker{width:238px;}
.tui-calendar .tui-calendar-body{padding-top:8px;}
.tui-calendar th{height:21px;}
.tui-calendar .tui-calendar-body-header th{color:rgba(255, 255, 255, 0.5);}
.tui-calendar td{height:32px;color:#fff;}
.tui-datepicker-input{height:38px;border:0;width:200px;}
.tui-datepicker-input > input{padding:9px 27px 9px 16px;font-size:14px;color:#fff;border-radius:4px;background-color: rgba(79, 82, 107, 0.3);}
.tui-datepicker-input > input:disabled{background-color:rgba(79, 82, 107, 0.3);color:rgba(255, 255, 255, 0.3);}
.tui-calendar .tui-calendar-title{color:#fff;}
.tui-calendar .tui-calendar-title-today{font-size:14px;}
.tui-calendar .tui-calendar-title-today,
.tui-calendar .tui-calendar-title-today:hover{background-color: rgba(0, 0, 0, 0.1);color:#fff;}
.tui-calendar .tui-calendar-header{border-bottom:0;}
.tui-calendar .tui-calendar-btn-prev-month:after{background:url(../img/rnd2/ico_prev_mini.png) 50% 50% no-repeat;}
.tui-calendar .tui-calendar-btn-next-month:after{background:url(../img/rnd2/ico_next_mini.png) 50% 50% no-repeat;}
.tui-calendar-btn{background-color: transparent;}
.tui-datepicker .tui-is-selectable.tui-is-selected, .tui-datepicker.tui-rangepicker .tui-is-selectable.tui-is-selected{background-color:#046bff;border-radius:4px;}
.tui-datepicker.tui-rangepicker .tui-is-selected-range{background-color:#f2f4f6;color:#0356cc;}
.tui-datepicker .tui-is-selectable:hover{background-color:rgba(255, 255, 255, 0.1);color:#fff;border-radius:4px;}
.tui-datepicker-input.tui-has-focus .tui-ico-date{background-position:0 0;width:18px;height:18px;right:8px;top:10px;margin:0;background-image:url(../img/rnd2/ico-calendar-b.png);}
.tui-datepicker-input.tui-has-focus input:focus + .tui-ico-date{background-image:url(../img/rnd2/ico-calendar-bp.png);}
.tui-datepicker-input.tui-has-focus input:disabled + .tui-ico-date{background-image:url(../img/rnd2/ico-calendar-db.png);}

/* selectbox */
.select-base{position:relative;display:block;width:116px;height:38px;cursor:pointer;}
.select-base:after{content:'';display:block;background:url(../img/rnd2/ico-arrow-set-df.png) 0 0 no-repeat;width:10px;height:10px;position:absolute;right:8px;top:14px;}
.select-base .value{display:block;padding-left:16px;padding-right:34px;height:38px;line-height:38px;font-size:14px;text-align:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;border-radius:4px;background-color:rgba(79, 82, 107, 0.3);}
.select-base select{position:absolute;left:0;top:0px;padding-left:16px;width:100%;height:38px;line-height:38px;font-size:14px;text-align:left;border:0;background:rgba(79, 82, 107, 0.3);opacity:0;filter:alpha(opacity=0);z-index:1;cursor:pointer;color:#000;}
.select-base.disabled{cursor:default;}
.select-base.disabled select{display:none;}
.select-base.disabled .value{background-color:rgba(79, 82, 107, 0.3);color: rgba(255, 255, 255, 0.3);}

/* multi select */
.multi-select{width:300px;position: relative;display:inline-block;}
.multi-select > a{display:block;padding:8.5px 34px 8.5px 16px;font-size:14px;line-height:1.5;text-align:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;border-radius:4px;background-color:rgba(79, 82, 107, 0.3);position: relative;color:#fff;}
.multi-select > a::after{content:'';display:block;background:url(../img/rnd2/ico-arrow-set-df.png) 0 0 no-repeat;width:10px;height:10px;position:absolute;right:8px;top:14px;}
.multi-select .chk-wrap{position:absolute;left:0;top:38px;padding:4px 16px;border-radius: 4px;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);background-color: rgba(79, 82, 107, 0.8);width:100%;display:none;max-height:230px;overflow-y:auto;}
.multi-select .chk-wrap::-webkit-scrollbar{border-radius:8px;background:transparent;width:14px;}
.multi-select .chk-wrap::-webkit-scrollbar-track{border-radius:8px;background:transparent;} 
.multi-select .chk-wrap::-webkit-scrollbar-thumb{background-color: rgba(0, 0, 0, 0.2);border-radius:8px;background-clip:padding-box;border:4px solid transparent;}
.multi-select.on > a{background-color: rgba(41, 98, 255, 0.3);}
.multi-select.on > a::after{background:url(../img/rnd2/ico-arrow-set-di.png) 0 0 no-repeat;}
.multi-select.on .chk-wrap{display:block;}
.chk-list > li .chk-area{padding:8px 0;position: relative;}
.chk-list > li .chk-area .btn-arrow{display:inline-block;width:12px;height:13px;background:url(../img/rnd2/ico_nect_mini.png) 50% 50% no-repeat;position: absolute;right:0;top:12px;transition:transform 0.2s;}
.chk-list > li ul{padding-left:28px;display:none;}
.chk-list > li.on ul{display:block;}
.chk-list > li.on .chk-area .btn-arrow{transform:rotate(180deg);}
.chk-base{position:relative;display:inline-block;}
.chk-base input{position:absolute;display:none;}
.chk-base input + label{position:relative;padding-left:28px;font-size:14px;display:inline-block;line-height:1.5;vertical-align:middle;color:#fff;}
.chk-base input + label:before{content:'';display:block;width:20px;height:20px;position: absolute;left:0;top:0;background:url(../img/rnd2/check-ms-off.png) 50% 50% no-repeat;}
.chk-base input:checked + label:before{background:url(../img/rnd2/check-ms-on.png) 50% 50% no-repeat;}

/* tooltip */
.tooltip-area{position:absolute;width:254px;border-radius:16px;z-index:2;}
.tooltip-area::before, .tooltip-area::after{content:'';display:block;width:16px;height:100%;position:absolute;top:0;border:1px solid #2962ff;z-index:1;}
.tooltip-area::before{left:0;border-radius:16px 0 0 16px;border-right:0;}
.tooltip-area::after{right:0;border-radius:0 16px 16px 0;border-left:0;}
.tooltip-area .tip-header{padding: 13.5px 20px 13.5px;-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);background-color: rgba(41, 98, 255, 0.45);border-radius:16px 16px 0 0;}
.tooltip-area .tip-header.tp2{backdrop-filter:unset;background-color: rgba(41, 98, 255, 0.15);}
.tooltip-area .tip-header .tit{font-size:13px;font-weight:700;color:#5c87ff;line-height:1.5;}
.tooltip-area .tip-header.tp-road .tit{padding: 2px 12px;border-radius:14px;background-color: #2962ff;display:inline-block;color:#fff;}
.tooltip-area .tip-header.tp-road .st-area{margin-top:4px;}
.tooltip-area .tip-header.tp-road .st-area .name{font-size:14px;line-height:1.5;font-weight:600;}
.tooltip-area .tip-header .badge-area .badge{font-size:13px;line-height:1.5;padding:2.5px 12px;}

.tooltip-area .tip-content{padding:12px 16px 16px;-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);background-color: rgba(29, 30, 34, 0.65);border-radius:0 0 16px 16px;}
.tooltip-area .tip-content li{display:flex;justify-content:space-between;align-items:center;font-size:14px;line-height:1.5;margin-top:8px;}
.tooltip-area .tip-content li:first-child{margin-top:0;}
.tooltip-area .tip-content li .label{color:rgba(255, 255, 255, 0.8);}
.tooltip-area .tip-content li .con{font-weight:600;color:#fff;}
.tooltip-area .tip-content .btns-wrap{margin-top:12px;}
.tooltip-area .tip-content .btns-wrap .btn-base{width:100%;}
.tooltip-area .tip-content .tip-info{line-height:1.5;font-size:14px;color:#fff;padding-top:16px;border-top:1px solid #1c4d9c;margin-top:16px;}
.tooltip-area .btn-close{position:absolute;left:50%;bottom:-28px;margin-left:-24px;width:48px;height:28px;}
.tooltip-area .btn-close span{
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0;
  width:0;
  height:0;
  border-left:24px solid transparent;
  border-right:24px solid transparent;
  border-top:28px solid #2962ff;
  
}
.tooltip-area .btn-close::before {
  content:'';display:block;background:url(../img/rnd2/ico-close-w.png) 50% 0 no-repeat;width:48px;height:28px;position:absolute;left:0;top:0;z-index: 1;
}
.tooltip-area .btn-close.tp2{width:18px;height:18px;background:url(../img/ico-close-b.png) 50% 50% no-repeat;right:14px;top:15px;left:initial;bottom:initial;margin-left:0;}
.tooltip-area .btn-close.tp2::before{display:none;}
.st-area{display:flex;justify-content:space-between;align-items:center;}
.st-area .name{font-size:18px;font-weight:600;color:#fff;line-height:1.5;}
.st-area .status{font-size:14px;font-weight:600;position: relative;line-height:1.5;padding-left:22px;min-height:21px;}
.st-area .status::before{content:'';display:inline-block;width:18px;height:19px;position: absolute;left:0;top:0;}
.st-area .status.normal{color:#19dd5d;}
.st-area .status.error{color:#fe3633;}
.st-area .status.normal::before{background:url(../img/rnd2/ico-state-normal.png) 0 0 no-repeat;}
.st-area .status.error::before{background:url(../img/rnd2/ico-state-error.png) 0 0 no-repeat;}

/* total */
.total-wrap{display:flex;justify-content:space-between;align-items: center;}
.total-wrap .total{display:flex;gap:0 8px;}
.total-wrap .total span{font-size:14px;line-height:21px;}
.total-wrap .total .label{color:#8c8c8c;}
.total-wrap .total .count{font-weight:bold;color:#2962ff;}
.total-wrap .paging-area{display:flex;align-items:center;gap:0 4px;}
.total-wrap .paging{font-size:14px;line-height:21px;color:#fff;display:flex;gap:0 6px;align-items:center;}
.total-wrap .paging .current{border:1px solid #dcdee2;padding:8px 16px;border-radius:4px;}
.total-wrap .paging input.current{width:49px;padding:6px 16px;transition:border-color 0.2s;text-align:center;background-color: rgba(79, 82, 107, 0.3);border:0;}
.total-wrap .paging input.current:focus{border-color:#2962ff;}
.total-wrap .paging-area [class*="btn-"]{width:32px;height:32px;background-position:50% 50%;background-repeat:no-repeat;display:block;}
.total-wrap .paging-area [class*="btn-"].disabled{opacity:0.5;cursor:default;pointer-events:none;}
.total-wrap .paging-area .btn-first{background-image:url(../img/ico-first-g.png);}
.total-wrap .paging-area .btn-prev{background-image:url(../img/ico-prev-g.png);}
.total-wrap .paging-area .btn-next{background-image:url(../img/ico-next-g.png);}
.total-wrap .paging-area .btn-last{background-image:url(../img/ico-last-g.png);}
.total-wrap .paging-area .btn-first:not(.disabled):hover{background-image:url(../img/ico-first-b.png);}
.total-wrap .paging-area .btn-prev:not(.disabled):hover{background-image:url(../img/ico-prev-b.png);}
.total-wrap .paging-area .btn-next:not(.disabled):hover{background-image:url(../img/ico-next-b.png);}
.total-wrap .paging-area .btn-last:not(.disabled):hover{background-image:url(../img/ico-last-b.png);}

  /* effects */
.i-obj{position:absolute;display:block;}
.i-cctv{width:72px;height:72px;display:flex;align-items:center;justify-content:center;position: relative;z-index:1;}
.i-acc{width:80px;height:80px;display:flex;align-items:center;justify-content:center;position: relative;z-index:1;}
.i-car{width:96px;height:96px;display:flex;align-items:center;justify-content:center;}
.i-obj .i-car{z-index:1;position: relative;}
.i-weather{width:32px;height:32px;display:inline-block;background-repeat:no-repeat;background-position:50% 50%;}
.i-weather.rain{background-image:url(../img/rnd2/ico-wer-rain.png);}
.i-weather.rainfall{background-image:url(../img/rnd2/ico-wer-rainfall.png);}
.i-weather.heavysnow{background-image:url(../img/rnd2/ico-wer-heavysnow.png);}
.i-weather.snow{background-image:url(../img/rnd2/ico-wer-snow.png);}
.i-weather.rainsnow{background-image:url(../img/rnd2/ico-wer-rainsnow.png);}
.i-weather.noinfo{background-image:url(../img/rnd2/ico-wer-noinfo.png);}
.i-weather.sun{background-image:url(../img/rnd2/ico-wer-sun.png);}

.i-weather.ani{width:72px;height:72px;}
.i-weather.ani.rain{background-image:url(../img/rnd2/ico-wer-rain.webp);}
.i-weather.ani.rainfall{background-image:url(../img/rnd2/ico-wer-rainfall.webp);}
.i-weather.ani.heavysnow{background-image:url(../img/rnd2/ico-wer-heavysnow.webp);}
.i-weather.ani.snow{background-image:url(../img/rnd2/ico-wer-snow.webp);}
.i-weather.ani.rainsnow{background-image:url(../img/rnd2/ico-wer-rainsnow.webp);}
.i-weather.ani.noinfo{background-image:url(../img/rnd2/ico-wer-noinfo.webp);}
.i-weather.ani.sun{background-image:url(../img/rnd2/ico-wer-sun.webp);}

.e-absolute{position:absolute;left:0;top:0;}
.i-pentagon {
  position: absolute;
  display: inline-block;
  width: 90px;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: rgba(41, 98, 255, 0.2) transparent;
  left: -8px;
  top: 24px;
}
.i-pentagon::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent rgba(41, 98, 255, 0.2);
}

/* https://css-loaders.com/classic */
.e-point {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  animation: epoint 1.5s infinite;
  opacity: 0;
}
.e-point.tp1 {
  background-color: rgba(45, 190, 133, 0.6);
}
.e-point.tp2 {
  background-color: rgba(81, 106, 240, 0.6);
}
.e-point.tp3 {
  background-color: rgba(150, 70, 239, 0.6);
}
.e-point.tp4 {
  background-color: rgba(243, 75, 171, 0.6);
}
.e-point.tp5 {
  background-color: rgba(14, 173, 208, 0.6);
}
.e-point.tp6 {
  background-color: rgba(255, 133, 46, 0.6);
}
.e-point.tp7 {
  background-color: rgba(255, 0, 0, 0.6);
}
@keyframes epoint {
  0% {
    opacity: 1;
  }
  100% {
    transform:scale(2.93);
    opacity:0;
  }
}
.e-cctv {
  width: 72px;
  --b: 10px; 
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%,rgba(234, 4, 135, 0.4)) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 10deg,#0000 10deg 16deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
          mask-composite: intersect;
  animation:ecctv 1s infinite steps(10);
}
@keyframes ecctv {to{transform: rotate(1turn)}}

.i-time{display:inline-block;width:44px;height:50px;background:url(../img/rnd2/ico-tr-time.png) 0 0 no-repeat;position: absolute;font-size:13px;font-weight:bold;color:#fff;text-align:center;line-height:1.5;padding-top:2.5px;}

.chart-area{display:flex;justify-content:center;gap:0 20px;padding:10px 0;}
.pie-chart-wrap{position:relative;display:inline-block;}
.pie-chart-wrap .pie-chart{z-index:1;}
.pie-chart-wrap .pie-value{position:absolute;left:0;top:0;width:100%;height:100%;display:flex;align-items:center;flex-direction:column;padding-top:45px;}
.pie-chart-wrap .pie-value .value{font-size:24px;font-weight:600;line-height:1.5;color:#fff;}
.pie-chart-wrap .pie-value .label{font-size:13px;font-weight:700;line-height:20px;color:#dcdee2;}
.pie-chart-wrap .pie-label{display:flex;justify-content:center;gap:0 16px;}
.pie-chart-wrap .pie-label span{position: relative;display:inline-block;font-size:13px;line-height:20px;}
.pie-chart-wrap .pie-label span::before{content:'';display:inline-block;width:8px;height:8px;border-radius:4px;margin-right:4px;}
.pie-chart-wrap .pie-label span.tp1{color:#5c87ff;}
.pie-chart-wrap .pie-label span.tp1::before{background-color:#2962ff;}
.pie-chart-wrap .pie-label span.tp2{color:#ae65ff;}
.pie-chart-wrap .pie-label span.tp2::before{background-color:#9646ef;}
.pie-chart-wrap .pie-label span.tp3{color:#43dfa2;}
.pie-chart-wrap .pie-label span.tp3::before{background-color:#2dbe85;}
.pie-chart-wrap .bb-tooltip-container{padding: 4px 8px;border-radius: 4px;background-color: rgba(29, 30, 34, 0.8);font-size:13px;color:#5c87ff;line-height:1.5;}
.pie-chart-wrap .bb-tooltip-container .value{color:#fff;font-weight:bold;padding-left:2px;}

.gauge-chart-wrap{position: relative;display:inline-block;margin-left:16px;}
.gauge-chart-wrap:first-child{margin-left:0;}
.gauge-chart-wrap .gauge-value{position:absolute;left:0;top:0;width:100%;height:100%;display:flex;align-items:center;flex-direction:column;padding-top:45px;}
.gauge-chart-wrap .gauge-value .value{font-size:24px;font-weight:600;line-height:1.5;}
.gauge-chart-wrap .gauge-value .label{font-size:13px;color:rgba(220, 222, 226, 0.8);}
.gauge-chart-wrap .type-label{font-size:13px;color:#fff;line-height:1.5;border-radius:20px;border: solid 1px rgba(255, 255, 255, 0.1);padding:4px 8px;position: absolute;left:50%;bottom:10px;transform:translateX(-50%);}

/* button */
.btn-base{display:inline-block;vertical-align:middle;}
.btn-base > *{display:block;text-align:center;border:0;cursor:pointer;border-radius:4px;padding:6px 16px;font-size:13px;line-height:1.5;color:#fff;font-weight:bold;}
.btn-base.reverse > *{padding:9px 15px;}
.btn-base.tp1 > *{background-color:#2962ff;}
.btn-base.tp1:not(.disabled, .reverse) > *:hover{background-color:#0041f5;}
.btn-base.tp1.reverse > *{background-color: rgba(41, 98, 255, 0.1);border:1px solid #2962ff;color:#2962ff;}
.btn-base.tp1.reverse > *:hover{box-shadow: 0 4px 8px 0 rgba(41, 98, 255, 0.5);background-color: rgba(41, 98, 255, 0.1);}
.btn-search, .btn-refresh{display:inline-block;}
.btn-search{width:28px;height:28px;background:url(../img/rnd2/ico-search-b.png) 0 0 no-repeat;}
.btn-refresh{width:24px;height:24px;background:url(../img/rnd2/ico-refresh-w.png) 0 0 no-repeat;}
.btn-refresh:hover{background:url(../img/rnd2/ico-refresh-w2.png) 0 0 no-repeat;}

.input-wrap > *, .input-info > *,
.input-password > *{display:inline-block;vertical-align:middle;}
.input-wrap, .input-info, .input-password{position:relative;font-size:0;}
.input-wrap .btn-del{width:18px;height:18px;font-size:0;position:absolute;right:8px;top:10px;background:url(../img/ico-del-s.png) 50% 50% no-repeat;display:none;}
.input-wrap .input-base:not(.tp2):focus + .btn-del{background:url(../img/ico-del-s-b.png) 50% 50% no-repeat;}
.input-wrap .input-base:disabled + .btn-del{display:none !important;}
.input-wrap > .bridge{font-size:13px;color:#8c8c8c;line-height:1.5;margin:0 8px;}
.input-wrap .label{font-size:14px;line-height:1.5;color:rgba(255, 255, 255, 0.8);margin-right:8px;margin-left:24px;}
.input-wrap .label:first-child{margin-left:0;}
.input-wrap.input-select .select-base{width:80px;}

.input-wrap.date-search{display:flex;align-items:center;gap:0 8px;}
.input-wrap.date-search .tui-datepicker-input{flex-grow:1;width:100%;}
.input-wrap.date-search .input-base{width:120px;background-color:rgba(79, 82, 107, 0.3);text-align:center;}
.input-wrap.date-search .input-base,
.input-wrap.date-search .btn-search{flex-shrink:0;}
.input-wrap.date-search .select-base{width:68px;flex-shrink:0;}

/* table */
.tb-status{width:100%;table-layout:fixed;border-collapse:separate;}
.tb-status{border-spacing:0 2px;}
.status-wrap.car .tb-status{border-spacing:0 4px;}
.tb-status th, .tb-status td{text-align:center;}
.tb-status th{font-size:14px;font-weight:600;line-height:21px;color: rgba(255, 255, 255, 0.5);padding-bottom:8px;}
.tb-status td{font-size:14px;font-weight:bold;color:#fff;line-height:21px;padding:8.5px 5px;/*-webkit-backdrop-filter: blur(50px);backdrop-filter: blur(50px);*/background-color: rgba(79, 82, 107, 0.15);}
.tb-status td:first-child{border-radius:8px 0 0 8px;padding-left:16px;}
.tb-status td:last-child{border-radius:0 8px 8px 0;padding-right:16px;
}
.tb-status td a{color:#fff;}
.tb-status td a:not(.none){text-decoration:underline;}
.tb-status td a.none{cursor:default;pointer-events:none;}
.tb-status td .ellipsis{display:block;width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.s-label{font-size:13px;color:#fff;font-weight:bold;line-height:1.5;padding:4px 14px;border-radius: 100px;}
.tb-status tbody tr[class*=tp] td{padding:16.5px 0;}
.tb-status tbody tr.tp1 .s-label{background-color: rgba(45, 190, 133, 0.5);}
.tb-status tbody tr.tp2 .s-label{background-color: rgba(81, 106, 240, 0.5);}
.tb-status tbody tr.tp3 .s-label{background-color: rgba(150, 70, 239, 0.5);}
.tb-status tbody tr.tp4 .s-label{background-color: rgba(243, 75, 171, 0.5);}
.tb-status tbody tr.tp5 .s-label{background-color: rgba(14, 173, 208, 0.5);}
.tb-status tbody tr.tp6 .s-label{background-color: rgba(255, 133, 46, 0.5);}
.tb-status tbody tr:hover{-webkit-backdrop-filter: blur(50px);backdrop-filter: blur(50px);background-color: rgba(41, 98, 255, 0.15);}
.tb-status tbody tr.tp1:hover, .tb-status tbody tr.tp1.on{background-color: rgba(45, 190, 133, 0.15);}
.tb-status tbody tr.tp2:hover, .tb-status tbody tr.tp2.on{background-color: rgba(81, 106, 240, 0.15);}
.tb-status tbody tr.tp3:hover, .tb-status tbody tr.tp3.on{background-color: rgba(150, 70, 239, 0.15);}
.tb-status tbody tr.tp4:hover, .tb-status tbody tr.tp4.on{background-color: rgba(243, 75, 171, 0.15);}
.tb-status tbody tr.tp5:hover, .tb-status tbody tr.tp5.on{background-color: rgba(14, 173, 208, 0.15);}
.tb-status tbody tr.tp6:hover, .tb-status tbody tr.tp6.on{background-color: rgba(255, 133, 46, 0.15);}
.tb-status tbody tr.tp1 td a:not(.none):hover, .tb-status tbody tr.tp1 td a.on{color:#2dbe85;}
.tb-status tbody tr.tp2 td a:not(.none):hover, .tb-status tbody tr.tp2 td a.on{color:#516af0;}
.tb-status tbody tr.tp3 td a:not(.none):hover, .tb-status tbody tr.tp3 td a.on{color:#9646ef;}
.tb-status tbody tr.tp4 td a:not(.none):hover, .tb-status tbody tr.tp4 td a.on{color:#f34bab;}
.tb-status tbody tr.tp5 td a:not(.none):hover, .tb-status tbody tr.tp5 td a.on{color:#0eadd0;}
.tb-status tbody tr.tp6 td a:not(.none):hover, .tb-status tbody tr.tp6 td a.on{color:#ff852e;}

.badge-area{display:flex;gap:0 8px;align-items:center;}
.badge-area .badge{padding:1.5px 12px;border-radius:14px;}
.badge-area .badge.red{background-color:#8f2c2c;}
.badge-area .badge.red.deep{background-color:#681d2d;}
.badge-area .badge.brown{background-color:#735210;}
.badge-area .badge.green{background-color:#2a614b;}
.badge-area .badge.blue{background-color:#2962ff;}
.badge-area .badge.gray{background-color:#3e4a69;}


.c-scrollbar{overflow-y:auto;}
.c-scrollbar::-webkit-scrollbar{border-radius:8px;background:transparent;width:14px;}
.c-scrollbar::-webkit-scrollbar-track{border-radius:8px;background:transparent;} 
.c-scrollbar::-webkit-scrollbar-thumb{background-color:rgba(79, 82, 107, 0.3);border-radius:8px;background-clip:padding-box;border:4px solid transparent;}

/* popup */
.mfp-wrap{-webkit-overflow-scrolling:touch}
.mfp-zin.mfp-bg,
.mfp-slide-b.mfp-bg{opacity:0;-webkit-transition:opacity .3s ease-out;transition:opacity .3s ease-out;}
.mfp-zin.mfp-bg.mfp-ready,
.mfp-slide-b.mfp-bg.mfp-ready{-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);background-color: rgba(29, 30, 34, 0.5);opacity:1;}
.mfp-zin.mfp-bg.mfp-removing,
.mfp-slide-b.mfp-bg.mfp-removing{opacity:0;}
.mfp-zin .z-anim{opacity:0;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-transform:scale(0.8);transform:scale(0.8);}
.mfp-zin.mfp-ready .z-anim{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
.mfp-zin.mfp-removing .z-anim{-webkit-transform:scale(0.8);transform:scale(0.8);opacity:0;}
.mfp-slide-b .z-anim{opacity:0;-webkit-transition:all .2s ease-out;transition:all .2s ease-out;-webkit-transform:translateY(-20px) perspective(600px) rotateX(10deg);transform:translateY(-20px) perspective(600px) rotateX(10deg);}
.mfp-slide-b.mfp-ready .z-anim{opacity:1;-webkit-transform:translateY(0) perspective(600px) rotateX(0);transform:translateY(0) perspective(600px) rotateX(0);}
.mfp-slide-b.mfp-removing .z-anim{opacity:0;-webkit-transform:translateY(-10px) perspective(600px) rotateX(10deg);transform:translateY(-10px) perspective(600px) rotateX(10deg);}
.popup-wrap{position:relative;background:#fff;margin:20px auto;border-radius:10px;}
.fade-slideup .popup-wrap{opacity:0;-webkit-transition:all .3s ease-out;transition:all .3s ease-out;-webkit-transform:translateY(100%);transform:translateY(100%);}
.fade-slideup.mfp-ready .popup-wrap{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
.fade-slideup.mfp-removing .popup-wrap{opacity:0;-webkit-transform:translateY(100%);transform:translateY(100%);}
.popup-wrap.fullpage{margin:0;min-height:100vh;}
.popup-wrap{width:304px;border-radius: 8px;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);background-color: #fff;}
.popup-wrap .con-wrap{padding:42px 20px 20px;}
.popup-wrap .con-wrap .info{text-align:center;}
.popup-wrap .con-wrap .info dt{font-size:16px;font-weight:bold;color:#4f526b;line-height:1.5;}
.popup-wrap .con-wrap .info dd{font-size:14px;color:#595959;line-height:1.5;margin-top:8px;}
.popup-wrap .tit-wrap{padding:16px 16px 12px;background:url(../img/rnd2/divider-sub-498.png) 50% bottom no-repeat;display:flex;align-items:center;gap:0 8px;}
.popup-wrap .tit-wrap .tit{font-size:18px;line-height:1.5;font-weight:600;color:#fff;}
.popup-wrap .tit-wrap .car-id{display:inline-block;padding:2px 12px;border-radius:14px;background-color:#2962ff;font-size:13px;line-height:1.5;color:#fff;font-weight:700;}
.popup-wrap button.mfp-close,
.popup-wrap button.mfp-arrow{width:34px;height:34px;background:url(../img/ico-del-s.png) 50% 50% no-repeat;top:0;right:0;font-size:0;opacity:1;}
.popup-wrap.tp2{-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);border: solid 1px #2962ff;background-color: #1d1e22;text-align:left;}
.popup-wrap.tp2 button.mfp-close{width:18px;height:18px;background:url(../img/rnd2/ico-close-w.png) 50% 50% no-repeat;right:16px;top:20.5px;}
.popup-wrap.tp2 .con-wrap{padding:12px 16px 16px;min-height:340px;}

.fp-popup-wrap{position: absolute;left:0;top:60px;width:100%;height:calc(100vh - 60px);background-color: #1d1e22;z-index:10;border-radius:16px 16px 0 0;display:none;}
.search-header{padding:20px;}
.search-header .tit{font-size:14px;font-weight:600;line-height:24px;color:#5c87ff;padding-left:28px;position: relative;}
.search-header .tit::before{content:'';display:block;width:24px;height:24px;background:url(../img/rnd2/ico-analysis.png) 0 0 no-repeat;position: absolute;left:0;top:0;}
.search-header .btn-close{display:inline-block;width:18px;height:18px;background:url(../img/rnd2/ico-colse-b.png) 0 0 no-repeat;position: absolute;right:20px;top:23px;}
.search-header .top-area{margin-bottom:10px;}
.search-container{padding:0 20px 20px;}
.search-content{border-radius: 8px;background-color: #272830;height:100%;}

/* loading */
.loading-dimm{position: fixed;left:0;top:0;width:100%;height:100%;opacity:0.7;background-color:#000;z-index:9;display:none;}
.loading-wrap{position:relative;display:flex;width:260px;height:260px;background:url(../img/rnd2/img-loading-bg.png) 0 0 no-repeat;justify-content:center;align-items:center;position: absolute;left:50%;top:50%;transform:translate(-50%, -50%);z-index:10;display:none;}
.loading-wrap .text{position: absolute;top:51%;left:50%;transform: translate(-50%,-50%);text-align: center;color: #fff;}
.loading-wrap .text h2{font-size: 36px;font-weight: 700;color:#04bcff;}
.loading-wrap .text h2 em{font-weight:inherit;}
.loading-wrap .text small{font-size: 18px;font-weight:600;line-height:1.5;display: block;color: rgba(255, 255, 255, 0.5);animation: loading-fade 1.5s infinite;}
.loading-wrap .circle{width: 170px;height: 170px;display: flex;justify-content: center;align-items: center;filter: drop-shadow(0px 0px 2px #2962ff);}
.loading-wrap .circle .points{width: 4px;height: 20px;background: #0007;position: absolute;border-radius: 2px;transform: rotate(calc(var(--i)*var(--rot))) translateY(-85px);}
.loading-wrap .points.marked{animation: loading-glow 0.04s linear forwards;animation-delay: calc(var(--i)*0.05s);}
.loading-wrap .points.marked:nth-child(odd){display:none;}

@keyframes loading-fade {
  0% {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}

@keyframes loading-glow {
  0% {
    background: #0007;
    box-shadow: none;
  }
  100% {
    background: var(--bgColor);
    box-shadow: 0 0 10px var(--bgColor);
  }
}

/* toast */
.toast-area{position:fixed;border-radius: 8px;-webkit-backdrop-filter: blur(8px);backdrop-filter: blur(8px);border: solid 1px #fe0000;background-color: rgba(254, 0, 0, 0.15);z-index:3;padding:14px 16px;opacity:0;top:-60px;transition:opacity .5s, top .5s;width:600px;left:50%;transform:translateX(-50%) !important;}
.toast-area.on{top:34px;opacity:1;}
.toast-area .toast-con{font-size:16px;font-weight:600;line-height:1.5;color:#e50000;display:flex;justify-content:space-between;align-items:center;gap:0 10px;}
.toast-area .toast-con a{font-size:13px;font-weight:700;color:#fff;background-image: linear-gradient(to right, #e50000, #fe0000);padding:2px 12px;border-radius:14px;}

.tb-wrap .no-data{height:100%;display:flex;justify-content: center;align-items: center;padding: 0 16px;border-radius: 8px;-webkit-backdrop-filter: blur(50px);backdrop-filter: blur(50px);background-color: rgba(79, 82, 107, 0.15);font-size:14px;color:#fff;line-height:1.5;font-weight:600;}